<h1>Editing Book</h1>


<%= form_with model:@book, local: true do |f| %>

<% if @book.errors.any? %>
      error
        <ul>
            <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

  <h3>Title</h3>
  <%= f.text_field :title %>


  <h3>Body</h3>
  <%= f.text_area :body %></br>


  <%= f.submit 'Update Book' %>
<% end %>

<%= link_to :"Show", book_path(@book) %>

<%= link_to :"Back", books_path %>

