<h1>Books</h1>

<table>
<thead>
    <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
    <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td><%= link_to :"show", book_path(book) %></td>
    <td><%= link_to :"edit", edit_book_path(book) %></td>
    <td><%= link_to "destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure?" %></td>

 <% end %>
</tbody>
</table>

<h2>NEW book</h2>
<%= form_with model: @book, local: true do |f| %>

<% if @book.errors.any? %>
    error
    <ul>
    <% @book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
    <% end %>

<h3>Title</h3>
<%= f.text_field :title %>

<h3>Body</h3>
<%= f.text_area :body %></br>

<%= f.submit 'Create Book' %>

<% end %>







